@using FoodManager.Infrastructure.Enums
@using FoodManager.Infrastructure.Helpers
@{ ViewBag.Title = "Concesionarios"; }

<div id="@EntityType.Dealer">
    <div class="container-fluid">
        <div class="row">
            @Html.InputFilterName()
            @Html.ButtonFilter()
            @Html.ButtonExport()
            @Html.ButtonNew()
            @Html.ButtonDeleteMany()
        </div>
    </div>
    @Html.Table()
</div>
