@using FoodManager.Infrastructure.Enums
@using FoodManager.Infrastructure.Helpers
@{ ViewBag.Title = "Advertencias médicas"; }

<div id="@EntityType.Warning">
    <div class="container-fluid">
        <div class="row">
            @Html.InputFilterName()
            <div class="col-lg-3 input-group container-left selectize-container">
                <span class="input-group-addon"><i class="fa fa-heartbeat"></i></span>
                @Html.DropDownList("DiseaseId", new List<SelectListItem>(), new
                {
                    id = "DiseaseId",
                    @class = "form-control",
                    data_role = "none",
                    data_entity = EntityType.Disease
                })
            </div>            
            @Html.ButtonFilter()
            @Html.ButtonExport()
            @Html.ButtonNew()
            @Html.ButtonDeleteMany()
        </div>
    </div>
    @Html.Table()
</div>

